In [1]:
%load_ext sql

In [2]:
%sql sqlite:///vivino.db

In [3]:
%%sql 
SELECT  *
FROM wines
LIMIT 10 ;

 * sqlite:///vivino.db
Done.

[(1213, 'Vin Santo di Montepulciano', 0, 2693, 1574, 4.6, 773, 'https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10AVVS92H', 4.492628, None, 3.9921334, 4.952543, None, 0),
 (1268, 'St. Henri Shiraz', 0, 7, 1305, 4.4, 17326, 'https://www.wijnig.nl/penfolds-st-henri-shiraz-2018.html', 3.0152445, None, 4.612774, 2.092192, 3.1030886, 1309),
 (1471, 'Siepi', 0, 394, 1620, 4.4, 8129, 'https://www.topwijnen.be/nl/product/wijnen/italie/toscane/igt-toscane/wn6010264/wn6010264', 3.156144, None, 3.4918664, 1.807986, 2.9856336, 755),
 (1647, 'Solare Toscana', 0, 394, 4772, 4.2, 4961, 'https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICE=2001658', 3.1583757, None, 3.3216164, 1.7018968, 3.0380645, 485),
 (1651, "Tenuta Tignanello 'Solaia'", 0, 394, 1252, 4.6, 33143, 'http://www.vivino.com/wines/159347388', 3.0641637, None, 3.4507132, 1.8885487, 2.9705827, 2131),
 (1652, 'Tignanello', 0, 394, 1252, 4.5, 142513, 'https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10ANTI89B', 3.082814, None, 3.4132028, 1.7224381, 2.9867094, 8219),
 (1658, 'Tenuta Guado al Tasso Bolgheri Superiore', 0, 3345, 1252, 4.5, 33392, 'https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=10TBGT98M', 3.4173176, None, 3.9344313, 1.733469, 3.8648884, 791),
 (1675, 'Pian delle Vigne Brunello di Montalcino', 0, 1796, 1252, 4.3, 31363, 'https://www.wereldwijnonline.be/pian-delle-vigne-brunello-di-montalcino-2013-tosca.html', 3.7869322, None, 3.2263973, 1.6081825, 3.439114, 1176),
 (1688, 'Castello della Sala Cervaro della Sala', 0, 488, 1252, 4.4, 30203, 'https://www.seulementproduitsitaliens.be/vino/antinori-tenuta-castello-della-sala/143-antinori-castello-della-sala-cervaro-della-sala.html?codice=ANT009-2021', 3.8587165, None, 3.276715, 2.3621032, None, 1089),
 (1690, 'Castello della Sala Muffato della Sala', 0, 488, 1252, 4.3, 6356, 'https://www.seulementproduitsitaliens.be/spec_collezioni.php?CODICEWT=20ANMU18B', None, None, None, None, None, None)]

## QUERY 1 :  We want to highlight 10 wines to increase our sales. Which ones should we choose and why?
## I limited 10 wines that have the best ratings_count , I  did not order by rating_average because it depeneds on the number of counts

In [9]:
%%sql
SELECT name, id , ratings_average, ratings_count
FROM wines 
ORDER BY ratings_count DESC
LIMIT 10 ;

 * sqlite:///vivino.db
Done.

[('Cabernet Sauvignon', 66284, 4.6, 157944),
 ('Brut Champagne', 86684, 4.6, 146377),
 ('Tignanello', 1652, 4.5, 142513),
 ('Sassicaia', 5078, 4.6, 107646),
 ('60 Sessantanni Old Vines Primitivo di Manduria', 11890, 4.5, 94289),
 ('Costasera Amarone della Valpolicella Classico', 21929, 4.3, 93397),
 ('ARTEMIS Cabernet Sauvignon', 1107336, 4.4, 81351),
 ('Amarone della Valpolicella Classico', 7103, 4.3, 77515),
 ('Opus One', 1911534, 4.6, 77053),
 ('Pauillac (Premier Grand Cru Classé)', 1684223, 4.6, 73615)]

In [42]:
%%sql

SELECT *
FROM keywords
WHERE keywords.name IN ('coffee', 'toast', 'green apple', 'cream',  'citrus')
LIMIT  10;

 * sqlite:///vivino.db
Done.

[(106, 'citrus'),
 (117, 'coffee'),
 (123, 'cream'),
 (195, 'green apple'),
 (417, 'toast')]

## QUERY 4 : We detected that a big cluster of customers likes a specific combination of tastes. We identified a few keywords that match these tastes: coffee, toast, green apple, cream, and citrus (note that these keywords are case sensitive ⚠️). We would like you to find all the wines that are related to these keywords. Check that at least 10 users confirm those keywords, to ensure the accuracy of the selection. Additionally, identify an appropriate group name for this cluster.

In [41]:

%%sql


SELECT keywords_wine.wine_id, keywords_wine.group_name, keywords_wine.count, keywords.name
FROM keywords_wine  INNER JOIN keywords  ON keywords_wine.keyword_id = keywords.id 
WHERE keywords.name In('coffee', 'toast', 'green apple', 'cream',  'citrus') and  keywords_wine.count >= 10
GROUP BY  keywords.name;

 * sqlite:///vivino.db
Done.

[(1127349, 'citrus_fruit', 240, 'citrus'),
 (82698, 'oak', 15, 'coffee'),
 (1166837, 'microbio', 18, 'cream'),
 (1127349, 'tree_fruit', 76, 'green apple'),
 (1127349, 'non_oak', 100, 'toast')]

## QUERY 2 :
## We have a limited marketing budget for this year. Which country should we prioritise and why?

In [48]:
%%sql
SELECT *
FROM countries
GROUP BY  name 
ORDER BY users_count DESC
LIMIT 1;

 * sqlite:///vivino.db
Done.

[('us', 'États-Unis', 362, 12273684, 204060, 28145)]

## QUERY 3 :
## We would like to give awards to the best wineries. Come up with 3 relevant ones. Which wineries should we choose and why?

In [66]:
%%sql
SELECT
    wineries.id,
    wineries.name,
    SUM(wines.ratings_count) AS total_ratings_count
   
FROM
    wineries
JOIN
    wines ON wineries.id = wines.winery_id
GROUP BY
    wineries.id,
    wineries.name
ORDER BY
    total_ratings_count DESC
LIMIT 3;

 * sqlite:///vivino.db
Done.

[(1471, 'Siepi', 4981),
 (1651, "Tenuta Tignanello 'Solaia'", 2472),
 (1652, 'Tignanello', 741)]

## QUERY 5:
## We would like to select wines that are easy to find all over the world. Find the top 3 most common grapes all over the world and for each grape, give us the the 5 best rated wines.

In [ ]:
%%sql